* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf');
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/manrope/Manrope-VariableFont_wght.ttf');
}

body, button {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #24053E;
}

.dark-element, .dark-element a {
    color: white;
}

.container {
    width: 768px;
    margin: 0 auto;
    /*overflow: hidden;*/
}

.inner-container {
    width: 689px;
    margin: 0 auto;
    /*overflow: hidden;*/
}

.header {
    z-index: 3;
    padding: 32px 32px;
    margin-bottom: 56px;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1440px) {
    .body {
        font-size: 18px;
        line-height: 32px;
    }

    .container {
        width: 1440px;
    }

    .inner-container {
        width: 1114px;
        margin: 0 auto;
    }

    .header {
        padding: 56px;
    }
}

.green-underline {
    text-decoration: underline;
    text-decoration-color: #44FFA1;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}

.header-CTA {
    font-variation-settings: "wght" 700;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 3px solid #44FFA1;
}

main {
    position: relative;
    top: -160px;
    z-index: -1;
}

.hero {
    position: relative;
    padding-top: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
}

.hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #24053E;
    border-radius: 0 0 80% 80%;
    transform: scaleX(1.5);
    z-index: -1;
    pointer-events: none
}

.hero-content-box {
    width: 635px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 203px;
}

@media screen and (min-width: 1440px) {
    .hero::before {
        background-position: -10% 30%, 103% 55%;
        background-size: 20%, auto;
    }

    .hero-content-box {
        margin-bottom: 326px;
    }
}

@media screen and (min-width: 768px) {
.hero::before {
    background-image: url("./assets/images/bg-pattern-3.svg"),
    url("./assets/images/bg-pattern-2.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -45% 30%, 115% 55%;
    background-size: 40%, auto;
}
}

/*.hero-divider {*/
/*    height: 330px;*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*    background: #FCF8FF;*/
/*    z-index: 2;*/
/*}*/

/*.hero-divider::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    display: block;*/
/*    width: 100%;*/
/*    background-color: #24053E;*/
/*    height: 100%;*/
/*    border-radius: 0 0 100% 100%;*/
/*    transform: scaleX(1.2);*/
/*    z-index: -1;*/
/*}*/

.hero-image {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 220px;
    z-index: 10;
}

.hero-image img {
    width: 514px;
}

@media (min-width: 1440px) {
    .hero-image img {
        width: 767px;
    }
}


.features, .features-divider {
    top: -80px;
}

.features {
    position: relative;
    padding-top: 283px; /* 203 per figma, plus 80 from top*/
    background-color: #FCF8FF;
}

.features-divider {
    height: 330px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.features-divider::after {
    content: "";
    position: absolute;
    top: -170px;
    display: block;
    width: 100%;
    background-color: #FCF8FF;
    height: 100%;
    border-radius: 0 0 100% 100%;
    transform: scaleX(1.2);
}

.features-content-box {
    display: flex;
    flex-direction: column;
    gap: 26px;
    justify-content: center;
    padding: 0 58px; /* takes inner-container in account, achieves 97px space to edge as per Figma */
}

.feature-box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 32px;
}

@media (min-width: 1440px) {
    .features {
        padding-top: 335px; /* 255 per figma, plus 80 from top*/
    }

    .features-content-box {
        display: flex;
        flex-direction: row;
        gap: 26px;
        justify-content: center;
    }

    .feature-box {
        flex-direction: column;
        align-items: center;
        width: 354px;
        text-align: center;
        gap: 56px;
    }
}

.number-circle {
    width: 56px;
    height: 56px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid #584D62;
    border-radius: 30px;
    font-size: 24px;
    line-height: 40px;
}

.call-to-action {
    display: flex;
    position: relative;
    justify-content: center;
}

.founder {
    width: 281px;
    height: 281px;
    z-index: -1;
    position: relative;
    top: -145px;
    right: -100px;
}

.call-to-action__box {
    width: 514px;
    height: 375px;
    background: #24053E;
    padding: 56px;
    z-index: -1;
}

.cta-springie {
    position: absolute;
    width: 173px;
    z-index: 1;
    bottom: -80px;
    right: 10px;
}

h2 {
    font-size: 48px;
    line-height: 56px;
}

button {
    background: #44FFA1;
    padding: 11px 23px;
    font-weight: 700;
    letter-spacing: -0.16px;
    border-style: none;
}

@media screen and (min-width: 1440px) {
    .founder {
        width: 477px;
        height: 477px;
        top: -175px;
        right: -100px;
    }

    .call-to-action__box {
        width: 730px;
        height: 413px;
        padding: 64px;
    }

    .cta-springie {
        width: 173px;
        bottom: 10px;
        right: 190px;
    }


    h2 {
        font-size: 48px;
        line-height: 56px;
    }

    button {
        letter-spacing: -0.18px;
        padding: 13px 25px;
    }
}

h1, h2, h3, .number-circle {
    font-family: 'Fraunces', serif;
    font-variation-settings: "wght" 600, "opsz" 144;
}

h1 {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 37px;
}

p, h2 {
    margin-bottom: 32px;
}

h3 {
    font-size: 32px;
    margin-bottom: 28px;
}

